<!DOCTYPE HTML>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container-display">

    <div class="item1-1"><img style="width:12%;display:block;margin-left:625px;" src="http://www.aquaphoenixsci.com/wp-content/themes/aquaphoenix/images/logos/logo.png"></img></div>
    <div class="item2-2">left side</div>
    <div class="item3-3">right side</div>
    <div class="item4-4"></div>
    <div class="item5-5">SQL GUI goes here</div>
    <div class="item6-6">SQL GUI goes here</div>
    <div class="item7-7"><p class="footertxt">AquaPhoenix Scientific</p></div>