<!DOCTYPE html>
<html>
<head>
  <h1 style="text-align:center;background-color:#0a4d83;color:white;padding:20px;margin-top:0;margin-bottom:0;">APS Display</h1>
<style>

</style>
</head>
<body>

<ul style="font-size:30px;text-align:center;margin:0;">
  <li><a href="facilities">Facilities</a></li>
  <li><a href="engineering">Engineering</a></li>
  <li><a href="planning">Planning</a></li>
</ul>


</body>
</html>
