<% provide(:page_title, "APS Display") %>
<% provide(:main_menu_active, "active") %>
<!DOCTYPE html>
<html>
<head>
    <h1 style="text-align:center;background-color:#e3671c;color:white;padding:20px;margin-top:0px;margin-bottom:0px;"><%= yield(:page_title) %></h1>
<style>

</style>
</head>
<body>

  <ul id="main-menu" style="font-size:20pt;text-align:center;margin-top:0px;margin-bottom:40px;height:auto;background-color:#0a4d83;list-style-type:none;padding:0px;">
    <li id="room"><a href="accounting">Accounting</a></li>
    <li id="room"><a href="cs">Customer Service</a></li>
    <li id="room"><a href="wh1">Education WH1</a></li>
    <li id="room"><a href="wh2">Education WH2</a></li>
    <li id="room"><a href="engineering">Engineering</a></li>
    <li id="room"><a href="facilities">Facilities</a></li>
    <li id="room"><a href="hr">Human Resources</a></li>
    <li id="room"><a href="planning">Planning</a></li>
    <li id="room"><a href="production">Production</a></li>
  </ul>
</body>
</html>
