<!DOCTYPE html>
<html>
<head>
  <h1 style="text-align:center;background-color:#0a4d83;color:white;padding:20px;margin-top:0px;margin-bottom:10px;">APS Display</h1>
<style>

</style>
</head>
<body>

<ul style="font-size:30px;text-align:center;margin:0;height:100vh;">
  <li><a href="accounting">Accounting</a></li>
  <li><a href="cs">Customer Service</a></li>
  <li><a href="wh1">Education WH1</a></li>
  <li><a href="wh2">Education WH2</a></li>
  <li><a href="engineering">Engineering</a></li>
  <li><a href="facilities">Facilities</a></li>
  <li><a href="hr">Human Resources</a></li>
  <li><a href="planning">Planning</a></li>
  <li><a href="production">Production</a></li>
</ul>


</body>
</html>
