<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">APS Display</div>
  <div class="item2">Display Room
    <ul>
      <li><a href="facilities">Facilities</a></li>
      <li><a href="engineering">Engineering</a></li>
      <li><a href="planning">Planning</a></li>
    </ul>
  </div>
  <div class="item3">Main</div>  
  <div class="item4">Right</div>
</div>

</body>
</html>
