<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">APS Display Settings
    <div id="engineering">Engineering</div>
  </div>
  <div class="item2"><p class="displaytxt">Display Room</p>
    <ul id="side-menu">
      <li id="room"><a href="accounting">Accounting</a></li>
      <li id="room"><a href="cs">Customer Service</a></li>
      <li id="room"><a href="wh1">Education WH1</a></li>
      <li id="room"><a href="wh2">Education WH2</a></li>
      <li id="room"><a href="engineering">Engineering</a></li>
      <li id="room"><a href="facilities">Facilities</a></li>
      <li id="room"><a href="hr">Human Resources</a></li>
      <li id="room"><a href="planning">Planning</a></li>
      <li id="room"><a href="production">Production</a></li>
    </ul>
  </div>
  <div class="item3">
     <body>
     <button id="displaybtn"><a href="acctdisplay"><span>View Display</a></span></button>
     <p class="option1">Resolution</p>
      <form id="resolution">
          <input type="radio" name="resolution" value="3840x2160" id="3840x2160" checked />
          <label class="choice" for="3840x2160">3840 x 2160</label><br />

          <input type="radio" name="resolution" value="1920x1080" id="1920x1080"/>
          <label class="choice" for="1920x1080">1920 x 1080</label><br />

          <input type="radio" name="resolution" value="1280x720" id="1280x720" />
          <label class="choice" for="1280x720">1280 x 720</label><br />
        <hr />
      </form>

      <p class="option2">Assignee One</p>
        <form id="assignee1">
          <input type="radio" name="assignee" value="firstlast" id="firstlast" checked />
          <label class="choice" for="firstlast">First Last</label><br />

          <input type="radio" name="assignee" value="firstlast" id="firstlast"/>
          <label class="choice" for="firstlast">First Last</label><br />

          <input type="radio" name="assignee" value="firstlast" id="firstlast" />
          <label class="choice" for="firstlast">First Last</label><br />
        <hr />
      </form>
      <p class="option3">Assignee Two</p>
        <form id="assignee2">
          <input type="radio" name="assignee" value="firstlast" id="firstlast" checked />
          <label class="choice" for="firstlast">First Last</label><br />

          <input type="radio" name="assignee" value="firstlast" id="firstlast"/>
          <label class="choice" for="firstlast">First Last</label><br />

          <input type="radio" name="assignee" value="firstlast" id="firstlast" />
          <label class="choice" for="firstlast">First Last</label><br />
      </form>
     </body>
     </div>
     <div class="item4"><p class="footertxt">AquaPhoenix Scientific</p></div>
</div>

</body>
</html>
