<% provide(:page_title, "Facilities") %>
<% provide(:facilities_active, "active") %>
<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">APS Display Settings
    <div id="facilities"><%= yield(:page_title) %></div>
  </div>
  <%= render 'layouts/navbar' %>
  <div class="item3">
     <body>
          <button id="displaybtn"><a href="facdisplay"><span>View Display</a></span></button>
      <p class="option2">Assignee One</p>
        <select id="assignee1">
          <option class="assignee1" value="firstlast">Sam Wilt</option>

          <option class="assignee1" value="firstlast">Ryan Harder</option>

          <option class="assignee1" value="firstlast">Tyler Reese</option>
        <hr />
        </select>

      <p class="option2">Assignee two</p>
        <select id="assignee1">
          <option class="assignee1" value="firstlast">Sam Wilt</option>

          <option class="assignee1" value="firstlast">Ryan Harder</option>

          <option class="assignee1" value="firstlast">Tyler Reese</option>

        <hr />
        </select>
        <button class="savebtn" type="submit" value="save">Save</button>
     </body>
     </div>
     <div class="item4"><p class="footertxt">AquaPhoenix Scientific</p></div>
</div>

</body>
</html>
