<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">APS Display Settings
    <div id="facilities">Facilities</div>
  </div>
  <div class="item2"><p class="displaytxt">Display Room</p>
    <ul id="side-menu">
      <li id="room"><a href="accounting">Accounting</a></li>
      <li id="room"><a href="cs">Customer Service</a></li>
      <li id="room"><a href="wh1">Education WH1</a></li>
      <li id="room"><a href="wh2">Education WH2</a></li>
      <li id="room"><a href="engineering">Engineering</a></li>
      <li id="room"><a href="facilities">Facilities</a></li>
      <li id="room"><a href="hr">Human Resources</a></li>
      <li id="room"><a href="it">Information Technologies</a></li>
      <li id="room"><a href="planning">Planning</a></li>
      <li id="room"><a href="production">Production</a></li>
    </ul>
  </div>
  <div class="item3">
     <body>
          <button id="displaybtn"><a href="facdisplay"><span>View Display</a></span></button>
      <p class="option2">Assignee One</p>
        <select id="assignee1">
          <option class="assignee1" value="firstlast">Sam Wilt</option>

          <option class="assignee1" value="firstlast">Ryan Harder</option>

          <option class="assignee1" value="firstlast">Tyler Reese</option>
        <hr />
        </select>

      <p class="option2">Assignee two</p>
        <select id="assignee1">
          <option class="assignee1" value="firstlast">Sam Wilt</option>

          <option class="assignee1" value="firstlast">Ryan Harder</option>

          <option class="assignee1" value="firstlast">Tyler Reese</option>

        <hr />
        </select>
        <button class="savebtn" type="submit" value="save">Save</button>
     </body>
     </div>
     <div class="item4"><p class="footertxt">AquaPhoenix Scientific</p></div>
</div>

</body>
</html>
