<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">APS Display
    <div id="facilities" style="float:right;padding-right:20px;">Facilities</div>
  </div>
  <div class="item2">Display Room
    <ul id="side-menu">
    <li id="room"><a href="accounting">Accounting</a></li>
    <li id="room"><a href="cs">Customer Service</a></li>
    <li id="room"><a href="wh1">Education WH1</a></li>
    <li id="room"><a href="wh2">Education WH2</a></li>
    <li id="room"><a href="engineering">Engineering</a></li>
    <li id="room"><a href="facilities">Facilities</a></li>
    <li id="room"><a href="hr">Human Resources</a></li>
    <li id="room"><a href="planning">Planning</a></li>
    <li id="room"><a href="production">Production</a></li>
    </ul>
  </div>
  <div class="item3">Display Settings</div>  
  <div class="item4">User Settings</div>
</div>

</body>
</html>
