<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">APS Display Settings
    <div id="facilities">Facilities</div>
  </div>
  <div class="item2"><p class="displaytxt">Display Room</p>
    <ul id="side-menu">
      <li id="room"><a href="accounting">Accounting</a></li>
      <li id="room"><a href="cs">Customer Service</a></li>
      <li id="room"><a href="wh1">Education WH1</a></li>
      <li id="room"><a href="wh2">Education WH2</a></li>
      <li id="room"><a href="engineering">Engineering</a></li>
      <li id="room"><a href="facilities">Facilities</a></li>
      <li id="room"><a href="hr">Human Resources</a></li>
      <li id="room"><a href="planning">Planning</a></li>
      <li id="room"><a href="production">Production</a></li>
    </ul>
  </div>
  <div class="item3">
     <body>
     <p class="option1">Resolution</p>
      <form>
        <label class="checkcontainer">3840 x 2160
          <input type="radio" name="resolution" checked="checked">
          <span class="radiobtn"></span>
        </label>
        <label class="checkcontainer">1920 x 1080
          <input type="radio" name="resolution">
          <span class="radiobtn"></span>
        </label>
        <label class="checkcontainer">1280 x 720
          <input type="radio" name="resolution">
          <span class="radiobtn"></span>
        </label>
      </form>
      <p class="option2">User One</p>
      <form>
        <label class="checkcontainer">First Lastname
          <input type="radio" name="assignment" checked="checked">
          <span class="radiobtn"></span>
        </label>
        <label class="checkcontainer">Second Lastname
          <input type="radio" name="assignment">
          <span class="radiobtn"></span>
        </label>
        <label class="checkcontainer">Third Lastname
          <input type="radio" name="assignment">
          <span class="radiobtn"></span>
        </label>
        </form>
        <p class="option2">User Two</p>
        <form>
          <label class="checkcontainer">First Lastname
            <input type="radio" name="assignment" checked="checked">
            <span class="radiobtn"></span>
          </label>
          <label class="checkcontainer">Second Lastname
            <input type="radio" name="assignment">
            <span class="radiobtn"></span>
          </label>
          <label class="checkcontainer">Third Lastname
            <input type="radio" name="assignment">
            <span class="radiobtn"></span>
          </label>
          </form>
     </body>
     </div>
     <div class="item4"><p class="footertxt">AquaPhoenix Scientific</p></div>
</div>

</body>
</html>
