<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">APS Display Settings
    <div id="hr">Human Resources</div>
  </div>
  <div class="item2"><p class="displaytxt">Display Room</p>
    <ul id="side-menu">
      <li id="room"><a href="accounting">Accounting</a></li>
      <li id="room"><a href="cs">Customer Service</a></li>
      <li id="room"><a href="wh1">Education WH1</a></li>
      <li id="room"><a href="wh2">Education WH2</a></li>
      <li id="room"><a href="engineering">Engineering</a></li>
      <li id="room"><a href="facilities">Facilities</a></li>
      <li id="room"><a href="hr">Human Resources</a></li>
      <li id="room"><a href="planning">Planning</a></li>
      <li id="room"><a href="production">Production</a></li>
    </ul>
  </div>
  <div class="item3">
     <body>
          <button id="displaybtn"><a href="acctdisplay"><span>View Display</a></span></button>
     <p class="option1">Resolution</p>
      <select id="resolution">
          <option class="resolution" value="3840x2160">3840 x 2160</option>

          <option class ="resolution" value="1920x1080">1920 x 1080</option>

          <option class="resolution" value="1280x720">1280 x 720</option>
        <hr />
      </select>

      <p class="option2">Assignee One</p>
        <select id="assignee1">
          <option class="assignee1" value="firstlast">Sharon Kuhn</option>

          <option class="assignee1" value="firstlast">Sabrina Spatz</option>

          <option class="assignee1" value="firstlast">Rebecca Oaster</option>

          <option class="assignee1" value="firstlast">Eric Hoke</option>

          <option class="assignee1" value="firstlast">Kyle Eichelberger</option>
        <hr />
        </select>

      <p class="option2">Assignee two</p>
        <select id="assignee1">
          <option class="assignee1" value="firstlast">Sharon Kuhn</option>

          <option class="assignee1" value="firstlast">Sabrina Spatz</option>

          <option class="assignee1" value="firstlast">Rebecca Oaster</option>

          <option class="assignee1" value="firstlast">Eric Hoke</option>

          <option class="assignee1" value="firstlast">Kyle Eichelberger</option>
        <hr />
        </select>
     </body>
     </div>
     <div class="item4"><p class="footertxt">AquaPhoenix Scientific</p></div>
</div>

</body>
</html>
