/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  background-color: #dfdfdf;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'dejavu_sansbook', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
 .grid-container {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}
.grid-container > div {
  text-align: center;
}
.item1 {
  grid-area: header;
  background-color: #0a4d83;
  padding: 20px;
  color: white;
  font-weight: bolder;
  font-size: 22pt;
}
.item2 {
  grid-area: sidebar;
  background-color: #0a4d83;
  color: white;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}
.displaytxt {
  background-color: #e3671c;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18pt;
}
.item3 {
  grid-area: content;
  background-color: #dfdfdf;
}
.item4 {
  grid-area: footer;
  background-color: #e3671c;
  color: white;
  margin-top: 10;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footertxt {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 18pt;
}
.grid-container-display {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0fr 1fr 1fr;
  padding: 0;
  margin: 0;
  grid-template-areas:
    "header header header"
    "content content content"
    "content content content"
    "footer footer footer";
}
.grid-container-display > div {
  text-align: center;
}
.item1-1 {
  grid-area: header;
  background-color: #0a4d83;
  padding: 20px;
  color: white;
  font-weight: bolder;
  font-size: 22pt;
}
.item2-2 {
  text-align: left;
  margin-top: 20px;
  display: block;
  font-size: 20pt;
  font-weight: bolder;
}
.item3-3 {
  text-align: right;
  margin-top: 20px;
  display: block;
  font-size: 20pt;
  font-weight: bolder;
}
.item5-5 {
  text-align: right;
  margin-top: 20px;
  display: block;
  font-size: 18pt;
  font-weight: bolder;
}
.item6-6 {
  text-align: right;
  margin-top: 20px;
  display: block;
  font-size: 18pt;
  font-weight: bolder;
}
.item7-7 {
  grid-area: footer;
  background-color: #e3671c;
  color: white;
  margin-top: 10;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footertxt {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 18pt;
}
.option1 {
  text-align: left;
  padding-left: 50px;
  font-size: 20pt;
}
.option2 {
  text-align: left;
  padding-left: 50px;
  font-size: 20pt;
}
.option3 {
  text-align: left;
  padding-left: 50px;
  font-size: 20pt;
}

#room a {
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 16pt;
}
#side-menu {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 45px;
  background-color: #0a4d83;
}
#room a:hover {
  background-color: #00a2d3;
  color: white;
}
#planning {
  float: right;
}
#accounting {
  float: right;
}
#cs {
  float: right;
}
#engineering {
  float: right;
}
#facilities {
  float: right;
}
#hr {
  float: right;
}
#production {
  float: right;
}
#wh1 {
  float: right;
}
#wh2 {
  float: right;
}
#displaybtn a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  display: block;
  padding: 15px 40px 15px 15px;
}
#displaybtn {
  float: right;
  background-color: #00a2d3;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18pt;
  display: block;
  margin-top: 45px;
  padding: 15 20 15 15;
  text-decoration: none;
  list-style-type: none;
}
#displaybtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#displaybtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#displaybtn:hover span {
  padding-right: 25px;
}
#displaybtn:hover span:after {
  opacity: 1;
  right: 0;
}
#resolution {
  position: relative;
  display: block;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #00a2d3;
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 16pt;
  border: none;
  -webkit-appearance: button;
  cursor: pointer;
}
.resolution {
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer;
  background-color: #0a4d83;
  padding: 10px;
  margin: 10px;
}
#assignee1 {
  position: relative;
  display: block;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: #00a2d3;
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 16pt;
  border: none;
  -webkit-appearance: button;
  cursor: pointer;
}
.assignee1 {
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer;
  background-color: #0a4d83;
}
.savebtn {
  border: none;
  position: relative;
  background-color: #00a2d3;
  color: white;
  padding: 20px;
  width: 200px;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s; /*safari*/
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.savebtn:after {
  content: "";
  background: #e3671c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.savebtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}