/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  background-color: #dfdfdf;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'dejavu_sansbook', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
 .grid-container {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}
.grid-container > div {
  text-align: center;
}
.item1 {
  grid-area: header;
  background-color: #0a4d83;
  padding: 20px;
  color: white;
  font-weight: bolder;
  font-size: 22pt;
}
.item2 {
  grid-area: sidebar;
  background-color: #0a4d83;
  color: white;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}
.displaytxt {
  background-color: #e3671c;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18pt;
}
.item3 {
  grid-area: content;
  background-color: #dfdfdf;
}
.item4 {
  grid-area: footer;
  background-color: #e3671c;
  color: white;
  margin-top: 10;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 10px;
}
.footertxt {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 18pt;
}
.option1 {
  text-align: left;
  padding-left: 50px;
  font-size: 20pt;
}
.option2 {
  text-align: left;
  padding-left: 50px;
  font-size: 20pt;
}
.checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 75px;
  font-size: 16pt;
cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}
.checkcontainer input {
  position: absolute;
  opacity: 0;
}
.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: 10px;
}
.checkcontainer:hover input ~ .radiobtn {
  background-color: #ccc;
}
.checkcontainer input:checked ~ .radiobtn {
  background-color: #00a2d3;
}
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcontainer input:checked ~ .radiobtn:after {
  display: block;
}
.checkcontainer .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#room a {
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 16pt;
}
#side-menu {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 45px;
  background-color: #0a4d83;
}
#room a:hover {
  background-color: #00a2d3;
  color: white;
}
#planning {
  float: right;
}